# 월별 소비자심리지수 데이터
**<출처>**
- KOSIS 국가통계포털 - "소비자동향조사:소비자동향조사(전국)"
    - 소비자심리지수에 활용되는 주요 소비자동향지수들 중, 다음의 3가지를 사용하겠다.
        1. 현재생활형편CSI: st_living_csi
        2. 현재경기판단CSI: eco_judgment_csi
        3. 소비자심리지수: ccsi
    
**<참고>**
- 경제에 대한 소비자들의 전반적인 인식을 나타낸 지수로 한국은행이 발표하며, 수치가 100을 넘으면 과거의 경기 상황보다 좋음을, 100 미만이면 좋지 않음을 나타낸다.

In [1]:
import numpy as np
import pandas as pd

## 파일 불러오기

In [2]:
df_csi = pd.read_csv('C:/Users/Playdata/2020_Bigcontest_working/dataset/CSI/2019_CSI_edited.csv')
df_csi

,지수코드별,2019. 01,2019. 02,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12,2020. 01
0,현재생활형편CSI,90,93,91,93,91,91,91,90,92,92,92,92,93
1,현재경기판단CSI,65,70,70,74,69,69,67,63,68,72,73,74,78
2,소비자심리지수,98,100,100,102,98,98,96,92,97,99,101,101,104

## 데이터 정제

### 행과 열을 transpose 시킨 후, 변수명을 영어로 변경

In [3]:
df_csi_trans = df_csi.T.iloc[1:, :].reset_index()
df_csi_trans.rename(columns = {'index':'date', 0:'st_living_csi', 1:'eco_judgment_csi', 2:'ccsi'}, inplace = True)
df_csi_trans

        date st_living_csi eco_judgment_csi ccsi
0   2019. 01            90               65   98
1   2019. 02            93               70  100
2   2019. 03            91               70  100
3   2019. 04            93               74  102
4   2019. 05            91               69   98
5   2019. 06            91               69   98
6   2019. 07            91               67   96
7   2019. 08            90               63   92
8   2019. 09            92               68   97
9   2019. 10            92               72   99
10  2019. 11            92               73  101
11  2019. 12            92               74  101
12  2020. 01            93               78  104

### date 변수의 format 변경
- "2019-01", "2019-02", ... 이런 형태로 변경해주겠다.

In [4]:
for i in range(len(df_csi_trans)):
    df_csi_trans['date'][i] = df_csi_trans['date'][i].replace('. ', '-')
df_csi_trans

       date st_living_csi eco_judgment_csi ccsi
0   2019-01            90               65   98
1   2019-02            93               70  100
2   2019-03            91               70  100
3   2019-04            93               74  102
4   2019-05            91               69   98
5   2019-06            91               69   98
6   2019-07            91               67   96
7   2019-08            90               63   92
8   2019-09            92               68   97
9   2019-10            92               72   99
10  2019-11            92               73  101
11  2019-12            92               74  101
12  2020-01            93               78  104

## 데이터 타입 변경
- object형으로 되어있는 csi 관련 변수들의 데이터 타입을 모두 int형으로 변경해주겠다.

In [5]:
df_csi_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              13 non-null     object
 1   st_living_csi     13 non-null     object
 2   eco_judgment_csi  13 non-null     object
 3   ccsi              13 non-null     object
dtypes: object(4)
memory usage: 544.0+ bytes

In [6]:
# object to int
df_csi_trans['st_living_csi'] = df_csi_trans['st_living_csi'].astype(int)
df_csi_trans['eco_judgment_csi'] = df_csi_trans['eco_judgment_csi'].astype(int)
df_csi_trans['ccsi'] = df_csi_trans['ccsi'].astype(int)

In [7]:
df_csi_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              13 non-null     object
 1   st_living_csi     13 non-null     int32
 2   eco_judgment_csi  13 non-null     int32
 3   ccsi              13 non-null     int32
dtypes: int32(3), object(1)
memory usage: 388.0+ bytes

## 최종 데이터 셋 csv 파일로 내보내기

In [8]:
df_csi_trans.to_csv('C:/Users/Playdata/2020_Bigcontest_working/dataset/CSI/2019_CSI_final.csv', index = False)